[tool.poetry]
name = "arg-services"
version = "1.3.1"
description = "gRPC definitions for microservice-based argumentation machines"
authors = ["Mirko Lenz <info@mirko-lenz.de>"]
license = "MIT"
readme = "README.md"
homepage = "http://recap.uni-trier.de"
repository = "https://github.com/recap-utr/arg-services-python"
include = ["src/**/*"]
packages = [
    { include = "arg_services", from = "src" },
    { include = "google", from = "src" },
]

[tool.poetry.dependencies]
python = "^3.9"
grpcio = "^1.53.0"
protobuf = "^4.22.1"
grpcio-reflection = "^1.53.0"
grpc-stubs = "^1.53.0.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
